.add-post {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  input {
    width: 100%;
    box-sizing: border-box;
    height: 38px;
    padding: 6px 12px;
    padding-top: 8px;
    border: none;
    border-radius: 4px;
    border: 1px solid rgb(206, 212, 218);
    font-size: 16px;
    color: #495057;
    margin-right: 3px;
  }
  input:focus {
    outline: none;
    border: 2px solid #8fd4ff;
  }
  button {
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(108, 117, 125);
    font-size: 16px;
    border: 1px solid rgb(108, 117, 125);
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3 ease-in;
    transition: color 0.2s ease-in, background-color 0.15s ease-in;
  }
  button:hover {
    background-color: rgb(108, 117, 125);
    color: #fff;
  }
}
