.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    font-size: 26px;
    font-weight: 500;
    color: #212529;
  }
  h2 {
    font-size: 19px;
    color: #808080;
    font-weight: 500;
  }
}

@media (max-width: 450px) {
  h2 {
    width: 200px;
    text-align: right;
  }
}
